body 
	{
    background-color: blue;
	}

h1	
	{
    text-align:Justified;
    text-decoration: underline;
	}

p1, p3, p4 
	{
    text-align:justify;
    text-indent:50px;
    font-family: "Comic Sans MS";
    font-size:11pt;
	background-color:red;
	}
p2 	
	{
    text-align:justify;
    text-indent:50px;
    font-family: "Comic Sans MS";
    font-size:11pt;
	background-color:green;
	}
p5 	
	{
    text-align:justify;
    text-indent:50px;
    font-family: "Comic Sans MS";
    font-size:11pt;
	background-color:yellow;
	}
table 
	{
	background-color:green;
	}
td	
	{
	border:3px solid orange;
	background-color:orange;
	}
img 
	{
	float:right;
	border-radius: 8px;
	}