body
{
	background-color:#f2f2f2;
}

h1
{
	color:#00AAFF;
}

p
{
	color:#00AABB;
}

#taula
{
	border-collapse: collapse;
	width: 100%;	
}

#taula td, #taula th
{
	color:#00AABB;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	padding: 8px;
}

#taula th
{
	padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00AAFF;
    color: white;
}

#taula tr:hover
{
	background-color:#FFFFFF
}