body
{
	text-align: justify;
	font-family: "Verdana";
}

img.primera
{
	max-width: 100%;
}

img.impar
{
	padding-left:5mm;
	float:right;
	width:400px;
}

img.par
{
	padding-right:5mm;
	float:left;
	width:400px;
}