h1
{
	font-family: "Verdana";
}

body
{
	font-family: "Verdana";
	font-size:19px;
	background-color:#F47056;
}

a:link
{
	text-decoration:none;
	color:White;
}

a:hover
{
	background-color:#CC9900;
}

a:active 
{
    background-color:orange;
}