body
{
	background-color:#000000;
}

#goiburua
{
	float:top;
	width:90%;
	background-color:green;
	padding-bottom:50px;
	padding-bottom:50px;
	height:50px;
}

#menu
{
	float:top;
	width:90%;
	padding-bottom:50px;
	background-color:red;
	height:50px;
}

#zen
{
	float:top;
	background-color:yellow;
	width:90%;
	height:250px;
}

#ezk
{
	float:left;
	background-color:green;
	margin-left:20px;
	width:200px;
	height:100px;
}

#egit
{
	background-color:blue;
	margin-left:220px;
	margin-right:100px;
	height:100px;
}

#azp
{
	float:top;
	width:90%;
	background-color:green;
	padding-bottom:50px;
	padding-bottom:50px;
	height:50px;
}